# Ignorar dependências
node_modules/

# Ignorar arquivos de build
dist/
build/

# Ignorar variáveis de ambiente
.env

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Ignorar IDEs e editores
.vscode/
.idea/
.DS_Store

# Ignorar caches do Python (se houver)
__pycache__/
*.pyc

# Ignorar arquivos temporários
*.tmp
